.announcementcards {
   display: flex;
   flex-direction: column;
  justify-content: center;
}

.rendercards {
   width: 50%;
   border: 15px black;
   background-color: white;
   font-family: 'Open Sans', sans-serif;
}

