.announcementcards {
    display: flex;
    flex-direction: column;
   justify-content: center;
 }
 
 .rendercards {
    width: 60%;
    margin: 0 auto;
    border: 15px black;
    background-color: white;
 }