.announcementcards {
    display: flex;
    flex-direction: column;
   justify-content: center;
 }
 
 .rendercards {
    width: 60%;
    margin: 0 auto;
    border: 15px black;
    background-color: white;
 }

 .card {
    margin-bottom: 15vh;
 }

 .dueDate {
    font-size: x-large;
    font-weight: bold;
 }

 .assignmentImage {
   background-size: cover;
   background-position: center;
   object-fit: contain;
}